# Lab 1: Python

In this first lab we will experiment with some basic Python. The main purpose is to get acquainted with the different data types Python supports.

This notebook follows sections of [*A Whirlwind Tour of Python*](https://jakevdp.github.io/WhirlwindTourOfPython/) which may be useful to consult the references while completing the exercises.

## Built-in data types

Python natively supports the following basic types:

- **Boolean**: *bool*

- **None**: *NoneType*

- **Numerical**: *int, float, complex*

- **Sequence**: *string, list, tuple*

- **Set**: *set*

- **Dictionaries**


### Mutable and immutable objects
Python data types can be organized by types that can change after their creation, so-called mutable types and their immutable counterparts that do not admit such possibility. When a variable is of a mutable type, we can overwrite its value, instead of creating a new instance. Assigning a new value to an existing variable however is always a possibility.

## Integers and Strings

The most frequently used data type are integers and strings.
- **Integer**: `int` is a numerical type, e.g., `7`.
- **String**: `string` is an **immutable** sequence of characters. In Python a string can be both defined by `' '` as `" "`.

### Exercise 1

Implement code that receives two integers from a user and prints the highest of the two.

In [1]:
# Your code here

### Exercise 2

Generete a string that is equal to `x` but where all characters are upper case.

*Expected output:* 

`HELLO TO SHOW NO DIFFERENCES BETWEEN QUOTE AND DOUBLE QUOTE`

In [ ]:
x = 10
x = 'hello'
x = "hello to show no differences between quote and double quote"

In [ ]:
# Your code here

### Exercise 3

Split words in `x` by spaces

*Expected output:*

`['hello', 'to', 'show', 'no', 'differences', 'between', 'quote', 'and', 'double', 'quote']`

In [ ]:
# Your code here

#### Exercise 4
Concatenate and print the strings `a`, `b` and `c`.

*Expected output:*

`Name name is R2D2.`

In [ ]:
a = "Name name is"
b = " R2D2"
c = "."

In [ ]:
# Your code here

### Exercise 5

Repeat string `b` 10 times using a maximum of 4 characters.

*Expected output:*

`R2D2 R2D2 R2D2 R2D2 R2D2 R2D2 R2D2 R2D2 R2D2 R2D2`

In [ ]:
# Your code here

### Exercise 6

Print the result of the following quantities:

- Sum of `a` and `b` (*Expected outcome:* `13`)
- `a` divided by `b` (*Expected outcome:* `3.3333`)
- Integer (or floor) division between `a` and `b` (*Expected outcome:* `3`)
- Integer remainder after division of `a` by `b` (*Expected outcome:* `1`)
- `a` raised to the power of `b` (*Expected outcome:* `1000`)

In [ ]:
a = 10
b = 3

In [ ]:
# Your code here

### Exercise 7

Explain why the first expression is evaluated as `True` and the second `False` and substitute `# Your code here` such that both expressions evaluate to `True`.

In [ ]:
a = 1.0
b = 1.0

# Your code here

print(a == b)
print(a is b)

Your answer here

## Lists

Lists are **ordered mutable** sequences of **heterogeneous** elements.

In Python, lists are defined by square brackets `[]` and their elements are separated by commas.

Check the following code exemplifying some of the Python lists' functionality:

In [ ]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [ ]:
# Indexing
fruits[4]

In [ ]:
# Slicing
fruits[2:5]

In [ ]:
fruits.count('apple')

In [ ]:
fruits.index('banana')

In [ ]:
'apple' in fruits

In [ ]:
fruits.sort(); fruits

In [ ]:
len(fruits)

In [ ]:
fruits += [100]; fruits

### Exercise 8

Insert 'strawberry' in the middle of the list `fruits`.

*Expected output:*

`['apple', 'apple', 'banana', 'banana', 'strawberry', 'kiwi', 'orange', 'pear', 100]`

In [ ]:
# Your code here

### Exercise 9

Remove the value `100` from `fruits`.

In [ ]:
# Your code here

### Exercise 10

What will be the value of the list below pointed by `x`? Can you explain why?

Test your intuition by running `print(x)`

In [ ]:
x = [1, 2, 3]
y = x
y[1] = 10

Your answer here

### Exercise 11

Write code that tests if `a` is contained in `x`. Print *"a not in x"* if `a` is not contained in `x`.

In [ ]:
x = [0, 1, 2, 3, 4, 5, 6, 7, 8]
a = 6.2

In [ ]:
# Your code here

### Exercise 12

Write code to select elements of `x` from the 3rd to the second-last element (inclusive), using the minimum possible number of characters.

*Expected output:*

`[2, 3, 4, 5, 6, 7]`

In [2]:
# Your code here

### Exercise 13

Select the elements of `x` in even positions, using the minimum possible number of characters.

*Expected output:* 

`[0, 2, 4, 6, 8]`

In [ ]:
# Your code here

### Exercise 14

Select the elements of `x` in odd positions (1, 3, 5...) in reverse order. Again, use the minimum possible number of characters**

*Expected output:*

`[7, 5, 3, 1]`

In [ ]:
# Your code here

## Tuples

Tuples are the **immutable** counterpart of lists. 
They are defined by round brackets `()` and they mainly differ from the list in that they do not accept those methods that tries to manipulate its elements.

### Exercise 15 
The next cell should yield a TypeError. Can you explain why? 
Create a list with the same values as `t` and assign 5 to position 2 of the newly created list.

In [ ]:
t = (1, 2, 3)
t[2] = 5
t

Your answer here

## Dictionaries

Dictionaries are associative arrays mapping immutable types (string, numbers, tuples...) to arbitrary objects of any kind (all datatypes you earlier saw, variables, functions, modules...). Intuitively, they can be thought as collections of objects that we can recall by means of a unique key.

To visualize a Python dictionary you can think of a telephone book, in which people names are the unique keys that you use to retrieve difference kinds of information (phone numbers, street address, mail address etc.). The same telephone number, street address or other information can be present in the entries of more people, but a label cannot be associated with more than one entry.

In Python, dictionaries are defined by curly brackets `{}` or `dict()`, in which key-value pairs are separated by commas.

In [ ]:
phone = {'Martijn': 4098, 'Jelle': 4139}
phone['Wouter'] = 4127
phone

In [ ]:
phone['Martijn']

In [ ]:
phone.keys()

In [ ]:
'Jelle' in phone

## Sets

Sets are **unordered** collections of **unique** items. They are commonly used to test membership, to remove duplicates or to compute mathematical operations such as intersection, union, difference, and symmetric difference. Being unordered collections, they do not support indexing, slicing and any other sequence-like behavior. But, this makes them extremely efficient.

In Python, sets can be create beither by using the syntax  `set([])` or by using curly braces `{}`.

In [ ]:
primes = {2, 3, 5, 7}
odds = set(range(1, 10, 2))
odds

In [ ]:
primes | odds

In [ ]:
primes & odds

In [ ]:
odds - primes

### Exercise 16

Write 1-line of code that counts the number of integers from 0 to 10 that are prime and even.

Tip: use the variables `primes`primes and `odds` above and the corresponding set operators

*Expected output:*

`{2}`

In [ ]:
# Your code here

## Loops

It is possible to use *for* to iterate over any object that is *iterable*. Iterable data types are lists, strings and tuples.

In [ ]:
for letter in 'words':
    print(letter)

In [ ]:
words = ['cat', 'window', 'defenestrate']
for word in words:
    print(word, len(word))

In [ ]:
# Sets are also iterable, but notice that the order does not matter...
setwords = {'cat', 'window', 'defenestrate'}
for word in setwords:
    print(word, len(word))

In [ ]:
for i in range(5,10):
    print(i)

### Exercise 17

For the list `['cat', 'window', 'defenestrate']`, can you work out how to output both the index - 0, 1 or 2 - and the entry - 'cat', 'window', 'defenestrate' - in the list on the same line in the print loop?

*Expected output:*

`0 cat`

`1 window`

`2 defenestrate`

In [ ]:
# Your code here

### Exercise 18

Output all the entries (key, value) in a dictionary, line by line.

*Expected output:*

`('Martijn', 4098)`

`('Jelle', 4139)`

`('Wouter', 4127)`

In [ ]:
# Your code here

## List, Set and Dictionary Comprehension

In [ ]:
[i for i in range(20) if i % 3 == 0]

In [ ]:
{n ** 2 for n in range(12)}

In [ ]:
{n:n ** 3 for n in range(6)}

### Exercise 19 

Write code, using list comprehension, that generates the following output:
`[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3)]`

In [ ]:
# Your code here

## Function definition

Functions are a way of creating more readable and reusable code. To create functions we will use the <code>def</code> statement. Below you can check a function implementing the first <code>N</code> values of the well-know [Fibonacci sequence](https://en.wikipedia.org/wiki/Fibonacci_number).

In [ ]:
def fibonacci(N):
    L = []
    a, b = 0, 1
    while len(L) < N:
        a, b = b, a + b
        L.append(a)
    return L

fibonacci(10)

### Exercise 20
Create a function that receives a string (argument named `s`) and a character (argument named `c`) and returns a new string with all occurences of `c` removed.

Example: 

<code>In: removeC("Hi, hello, my name is Joe", 'o')
Out: Hi, hell, my name is Je'

In [ ]:
# Your code here

### Exercise 21

Can you create a function, named `factorial`, that receives an integer (argument named `n`) and returns the string `"The factorial of n is r"`, where `n` is the function argument and `r` the result?

Example:\
`The factorial of 5 is 120`

In [ ]:
# Your code here