# Pandas

In this series of exercises you will learn to use the library `pandas`. Pandas is a very popular library for storing and manipualting data. For the exercises in this notebook, we will be relying on the following sources:
- Chapter 3 from the [Python Data Science Handbook](https://jakevdp.github.io/PythonDataScienceHandbook/)
- The official Pandas documentation: [Pandas Documentation](https://pandas.pydata.org/)

## Series 

Start by reading the introduction of `pandas` objects [here](https://jakevdp.github.io/PythonDataScienceHandbook/03.01-introducing-pandas-objects.html).

Then, run the cell below to import the necessary libraries. In our distribution, we've also included a file named `answers3.py`, which we will also import below. After each set of exercises, a function from `answers3.py` is called that will check your answers and provide feedback in the form of assertions.

In [6]:
import pandas as pd
import answers3

### Exercise 1

Create a `Series`-object named `income` containing the following *figures* and using the *sources* as its index.

In [7]:
income_sources = ["sales", "ads", "subscriptions", "donations"]
income_figures = [39041, 8702, 13200, 292]

income = # Your code here

SyntaxError: invalid syntax (3695136184.py, line 4)

Check your answer by running the cell below.

In [8]:
answers3.test_1(income)

NameError: name 'income' is not defined

### Exercise 2

Create a `Series` named `expenses` that uses the expense information below. Also create a `Series` named `profits` with the profit (income minus expenses). Create a variable named `total_profit` with the sum of all profits in `profits`.

In [9]:
expense_sources = ["ads", "sales", "donations", "subscriptions"]
expense_figures = [4713, 24282, 0, 3302]

# Your code here

Check your answer by running the cell below.

In [10]:
answers3.test_2(expenses, profits, total_profit)

NameError: name 'expenses' is not defined

## DataFrames

### Exercise 3

Create a `DataFrame` named `skittles` with the *columns* `amount` and `rating`, using the different colors as the *index*.

|&nbsp;      | amount | rating |
|------------|--------|--------|
| **red**    | 7      | 3      |
| **green**  | 4      | 4      |
| **blue**   | 6      | 2      |
| **purple** | 5      | 4      |
| **pink**   | 6      | 3.5    |

Using `Jupyter`'s `display()` makes sure we get a nicely formatted table.

In [12]:
# Your code here

Check your answer by running the cell below.

In [13]:
answers3.test_3(skittles)

NameError: name 'skittles' is not defined

### Exercise 4

Calculate the mean `rating` and save as `skittles_average`.

In [14]:
# Your code here

Check your answer by running the cell below.

In [15]:
answers3.test_4(skittles_average)

NameError: name 'skittles_average' is not defined

### Exercise 5

Add a new column to the skittles `DataFrame` named `score`. The score of a color is equal to `amount * rating`.

In [16]:
display(skittles)

NameError: name 'skittles' is not defined

Check your answer by running the cell below.

In [17]:
assert "score" in skittles

NameError: name 'skittles' is not defined

## Indexing and selection

Read the [next](https://jakevdp.github.io/PythonDataScienceHandbook/03.02-data-indexing-and-selection.html) part of the reference.

### Exercise 6

For the given `DataFrame` select only columns 'a', 'c', and 'e', and rows 10, 20, 50, 60 and store the result again in the variable `frame`. As a clarification, the original `DataFrame` looks like:

<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>a</th>      <th>b</th>      <th>c</th>      <th>d</th>      <th>e</th>      <th>f</th>      <th>g</th>    </tr>  </thead>  <tbody>    <tr>      <th>10</th>      <td>0.0</td>      <td>1.0</td>      <td>2.0</td>      <td>3.0</td>      <td>4.0</td>      <td>5.0</td>      <td>6.0</td>    </tr>    <tr>      <th>20</th>      <td>7.0</td>      <td>8.0</td>      <td>9.0</td>      <td>10.0</td>      <td>11.0</td>      <td>12.0</td>      <td>13.0</td>    </tr>    <tr>      <th>30</th>      <td>14.0</td>      <td>15.0</td>      <td>16.0</td>      <td>17.0</td>      <td>18.0</td>      <td>19.0</td>      <td>20.0</td>    </tr>    <tr>      <th>40</th>      <td>21.0</td>      <td>22.0</td>      <td>23.0</td>      <td>24.0</td>      <td>25.0</td>      <td>26.0</td>      <td>27.0</td>    </tr>    <tr>      <th>50</th>      <td>28.0</td>      <td>29.0</td>      <td>30.0</td>      <td>31.0</td>      <td>32.0</td>      <td>33.0</td>      <td>34.0</td>    </tr>    <tr>      <th>60</th>      <td>35.0</td>      <td>36.0</td>      <td>37.0</td>      <td>38.0</td>      <td>39.0</td>      <td>40.0</td>      <td>41.0</td>    </tr>  </tbody></table>

Re-index such that it looks like:

<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>a</th>      <th>c</th>      <th>e</th>    </tr>  </thead>  <tbody>    <tr>      <th>10</th>      <td>0.0</td>      <td>2.0</td>      <td>4.0</td>    </tr>    <tr>      <th>20</th>      <td>7.0</td>      <td>9.0</td>      <td>11.0</td>    </tr>    <tr>      <th>50</th>      <td>28.0</td>      <td>30.0</td>      <td>32.0</td>    </tr>    <tr>      <th>60</th>      <td>35.0</td>      <td>37.0</td>      <td>39.0</td>    </tr>  </tbody></table>

In [18]:
import numpy as np

frame = pd.DataFrame(np.arange(6 * 7.).reshape((6, 7)), index=[10, 20, 30, 40, 50, 60], columns=list('abcdefg'))

# Your code here

Check your answer by running the cell below.

In [19]:
answers3.test_6(frame2)

NameError: name 'frame2' is not defined

### Exercise 7

Replace all values in the data frame `frame` that are *divisible by 3* with the value *0*. Store the result in `frame`.

In [20]:
# Your code here

Check your answer by running the cell below.

In [ ]:
answers3.test_7(frame)

## Operating on dataframes

Read about [operations in pandas](https://jakevdp.github.io/PythonDataScienceHandbook/03.03-operations-in-pandas.html).

### Exercise 8

Create a `Series` named `series_c` with the result of the calculation `series_a - series_b`. Note that `series_a` and `series_b` do not use the same indexing. Replace any missing values in `series_b` with 0. Values that are in `series_b` but not in `series_a` need not be in `series_c`.

In [21]:
series_a = pd.Series([500, 400, 300, 200, 100], index=["a", "b", "c ", "d", "e"])
series_b = pd.Series([23, 46, 67, 79], index=["a", "c ", "f", "g"])

# Your code here

Check your answer by running the cell below.

In [22]:
answers3.test_8(series_a, series_b, series_c)

NameError: name 'series_c' is not defined

## Map

`pandas` has it's own `map()` function! As expected, it maps a function to every element of a `Series` or `DataFrame` and gives back a new `Series` or `DataFrame`. As an example:

```Py
tokens = Series(["hello", " ", "world!"])

lengths = []
for token in tokens:
    lengths.append(len(token))
lenghts = Series(lengths)
```

Can be converted to:

```Py
tokens = Series(["hello", " ", "world!"])
lengths = tokens.map(len)
```

### Exercise 9

Convert all words in the `Series` `words` to lowercase. Use `str.lower()`.

In [23]:
words = pd.Series(["foo", "Bar", "baz", "QUX", "QuUuX"])

Check your answer by running the cell below.

In [24]:
answers3.test_9(words)

Testing:

AssertionError: Series are different

Series values are different (60.0 %)
[index]: [0, 1, 2, 3, 4]
[left]:  [foo, bar, baz, qux, quuux]
[right]: [foo, Bar, baz, QUX, QuUuX]

### Exercise 10

Sort `frame` on column `c` in descending order and store the solution in `frame`.

In [26]:
data = [[0.691074, -1.272521, -0.968045, -2.066171, -0.670358, 1.399483, -1.148168], 
        [1.75378, 2.409629, 1.842674, 0.754906, -0.115614, 0.877219, 1.599362], 
        [-1.41176, 1.103801, 1.216514, 0.548866, 2.255482, -0.176342, 0.965265], 
        [-0.741689, 0.216645, -0.278025, 0.777175, 0.869239, -0.943004, -0.140957], 
        [-1.58593, 1.1796, -0.702286, 2.367875, 0.592748, 1.386158, 0.535978], 
        [0.58498, 0.62389, -0.425614, 0.530479, -1.818631, -1.593188, 1.591233]]

frame = pd.DataFrame(data, columns=list('abcdefg'))

# Your code here

Check your answer by running the cell below.

In [27]:
answers3.test_10(frame)

Testing:

AssertionError: DataFrame.index are different

DataFrame.index values are different (83.33333 %)
[left]:  RangeIndex(start=0, stop=6, step=1)
[right]: Int64Index([1, 2, 3, 5, 4, 0], dtype='int64')

## Missing values

Read about [Handling Missing Data](https://jakevdp.github.io/PythonDataScienceHandbook/03.04-missing-values.html)

### Exercise 11

In the `Series` `speeds` below, fill in the missing values. Use the speed from the previous datapoint available that is up to 3 datapoints away. Delete any datapoints that still do not have values afterwards.

In [29]:
speeds = pd.Series(
         [49, 51, None, None, 50, 48, 47, 50,
          51, 47, 46, None, 46, 48, 48, 48,
          None, 49, None, None, None, None,
          None, 50, 50, 50, 51, 52, 51, 50,
          None, 50, None, None, None, None,
          None, 50, 49, 48, 49, None, 50, 50, 49])


# Your code here

Check your answer by running the cell below.

In [ ]:
answers3.test_11(speeds)

# Grouping

Read about [grouping data](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html).

### Exercise 12

Given the `grades` DataFrame below, group the data the course name. Do the following:

- Create a grouping called `groups`.
- Use a `for` loop to loop over the content of `groups`. Print the name and content of each group.
- Generate a `Series` called `average_course_grade` containing the average grade for both courses.
- Generate a `Series` called `student_count` containing the total number of students for both courses.

In [30]:
grades = pd.DataFrame([["Pascal", "Programming 2", 7.0], ["Morty", "Programming 1", 5.5], 
                       ["Slartibartfast", "Programming 1", 6.5], ["Ursula", "Programming 1", 9.5],
                       ["Morty", "Programming 2", 3.5], ["Marge", "Programming 1", 8.0],
                       ["Ursula", "Programming 2", 9.0]], 
                       columns = ["student_name", "course_name", "grade"])

# Your code here

Check your answer by running the cell below.

In [31]:
answers3.test_12(average_course_grade, student_count)

NameError: name 'average_course_grade' is not defined

You kan also use the `head(n)` method as an agregate function similar to `count()` or `mean()`. IT will yield the first `n` entries for each group. Read more about [groupby + head](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.GroupBy.head.html).

### Exercise 13

Use `groupby` and `head` to select the **top two students** of each course of the `grades` DataFrame from above. Store the result in `top_students`.

The result should look like this: 

      student_name    course_name  grade
    3       Ursula  Programming 1    9.5
    6       Ursula  Programming 2    9.0
    5        Marge  Programming 1    8.0
    1        Morty  Programming 2    5.5

> Tip: you might have to sort the values of the `grades` DataFrame first.

In [32]:
# Your code here

Check your answer by running the cell below.

In [ ]:
answers3.test_13(top_students)

## Pivot

Read about [pivot tables](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html).

### Exercise 14

Based on the `grades` DataFrame from previous exercises. Create a pivot table called `pivot_grades` that has the student names as rows and the course names as columns. The values in the table should be the grades of the corresponding combination of student and course. When the students only got a grade for one of the two courses, `pivot_table` should autmatically assign the value `NaN`. This is ok, you can leave this.

In [ ]:
# Your code here

Check your answer by running the cell below.

In [ ]:
answers3.test_14(pivot_grades)

## Explode

Read about [exploding DataFrames](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.explode.html).

### Exercise 15

Create an unnested version of the `movies` DataFrame below. So the result should look like this:

                          movie                actors
    0            Hababam Sinifi           Kemal Sunal
    0            Hababam Sinifi           Münir Özkul
    0            Hababam Sinifi        Halit Akçatepe
    0            Hababam Sinifi            Tarik Akan
    1  The Shawshank Redemption           Tim Robbins
    1  The Shawshank Redemption        Morgan Freeman
    1  The Shawshank Redemption            Bob Gunton
    1  The Shawshank Redemption        William Sadler
    2                  Aynabaji    Chanchal Chowdhury
    2                  Aynabaji  Masuma Rahman Nabila
    2                  Aynabaji    Bijori Barkatullah
    2                  Aynabaji          Partha Barua
    3             The Godfather         Marlon Brando
    3             The Godfather             Al Pacino
    3             The Godfather            James Caan
    3             The Godfather          Diane Keaton
    
Store the result in `exploded_actors`

In [ ]:
movies = pd.DataFrame([["Hababam Sinifi",
                           ["Kemal Sunal", "Münir Özkul", "Halit Akçatepe", "Tarik Akan"]],
                      ["The Shawshank Redemption",
                           ["Tim Robbins", "Morgan Freeman", "Bob Gunton", "William Sadler"]],
                      ["Aynabaji", 
                           ["Chanchal Chowdhury", "Masuma Rahman Nabila", "Bijori Barkatullah", "Partha Barua"]],
                      ["The Godfather",
                           ["Marlon Brando", "Al Pacino", "James Caan", "Diane Keaton"]]],
                     columns = ["movie", "actors"])
# Your code here

Check your answer by running the cell below.

In [ ]:
answers3.test15(exploded_actors)

## Reading and writing data 

Look at how you can [store data as a csv file](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html).
Look at how you can [read the data back](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html).

### Exercise 16

As a final challenge try to see if you can combine the pandas methods `read_csv`, `to_csv`, `map`, `explode`, `sort_values`, `groupby` and `head` for a more complex data transformation.

The file `data/recipes.csv` contains a few recipes with their lists of ingredients. The recipes were rated on a scale from 1 to 5 by the users of a food website. The file also contains the average rating of the recipes. The contents:

    recipe_name,rating,ingredients
    Caprese Salad,4.5,tomato;olive oil;basil;mozzerella
    Lasagna,4.8,beef;pork;bacon;onion;celery;carrot;wine;tomato
    Beef Bourguignon,4.3,beef;bacon;onion;carrot;celery;flour;garlic;wine
    Hamburger,3.8,beef;bacon;letuce;bread;onion;mayo;ketchup;pickle
    Lentil Burger,4.0,lemon;lentils;yogurt;garlic;mushrooms;miso;parika;flour;bread;pickles

As you can see, the first column is the name, the second column contains the average rating and the third column contains all the ingredients (separated by a semicolon `;`)

We want to know for each ingredient, what the **top two recipes** are that contain that ingredient. So, the two recipes with the highest rating containing that ingredient. For example, the top two recipes for *bacon* are *Lasagna* and *Beef Bourguignon*. (*Hamburger* also contains *bacon*, but it's rating is lower than the other two recipes, so we ignore that one.)

Write a piece of code that reads the file `data/recipes.csv`, does all the required transformations and produces a file `ingredients.csv` into the `data` folder, containing the information we want. A fragment of the contents of the output file you should produce is shown here:

    ingredients,recipe_name
    bacon,Lasagna
    bacon,Beef Bourguignon
    basil,Caprese Salad
    beef,Lasagna
    beef,Beef Bourguignon
    bread,Hamburger
    bread,Lentil Burger
    carrot,Lasagna
    carrot,Beef Bourguignon
    ...

As you can see, the first two entries are the top two recipes for *bacon*. After that we see only one entry for *basil*, because *basil* occurs in only one recipe. This is okay: If an ingredient only occurs in one recipe, the output should only contain that entry.

The output should be sorted by the name of the ingredient.

In [ ]:
recipes = pd.read_csv('data/recipes.csv')

# Your code here

In [ ]:
answers3.test_16()